body {
  margin: 0;
  font-family: 'Roboto';font-size: 18px;
  background-color: #2b2b2b; 
  color: #fff;
}

.sidebar {
  width: 200px;
  background-color: #1e1e1e;
  color: #fff;
  height: 100vh;
  position: fixed;
}

.sidebar-header {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #1d1d1d;
}

.tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tabs li {
  padding: 10px;
  border-bottom: 1px solid #555;
}

.tabs li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.tabs li.active {
  background-color: #555;
}

.content {
  margin-left: 200px;
  padding: 20px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

